/.vscode
/target
/target/
/logs
/logs/application.log
/logs/*
/docker-compose.yml
/.env
/.env.local
/.env.production
/.env.test
/.idea
*.iml
/out
user.db
/user.db
*.log
*.tmp
/uploads
*.p12
logs/
.idea
CLAUDE.md
/src/main/resources/data.sql
data.sql
*.sql
/TODO.md
TODO.md
/.classpath
/.project
/.problems.claude/
.claudesrc/main/resources/application-local.yml

.claude/
/bibliotroca.env
credentials.json
/render_credentials.json
/local.env
/bibliotroca.properties
/local.properties
/randoop-4.3.4.zip
/randoop-4.3.4/*
/classes-do-projeto.txt
/user.db-shm
/user.db-wal
/src/main/resources/static/atualizar_templates.js
/src/main/resources/static/organizar.js