/.vscode
/target
/target/
/logs
/logs/application.log
/logs/*
/docker-compose.yml
/.env
/.env.local
/.env.production
/.env.test
/.idea
*.iml
/out
user.db
/user.db
*.log
*.tmp
*.png
*.jpg
/uploads
*.p12
logs/
.idea
CLAUDE.md
/src/main/resources/data.sql
data.sql
*.sql
/TODO.md
TODO.md
/.classpath
/.project
/src/main/resources/application-local.yml
/src/main/resources/application-render.yml
/src/main/resources/application-gmail.yml