<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vender Livro - Projeto Salt</title>

        <script
            src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script
            src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body class="bg-gray-100 min-h-screen flex items-center justify-center p-4">

        <div id="root" class="max-w-2xl w-full"></div>

        <script type="text/babel" th:src="@{/produto/venda_livro.js}"></script>

    </body>
</html>